body {
    display: grid;
    grid-template-rows: 5% 85% 5%;
}

#contener1 {
    grid-row : 1;
    text-align: center;
    font-family:Cambria, serif;
    /* display: grid;
    grid-template-columns: 30% 70%;  
    background-color: #fafff5;*/
    background-color: #f4ffec;
    max-height: 5vh;
}

#contener2{
    grid-row : 2;
    max-height: 85vh;
}

#titre {
    font-size: 1.2em;
    font-weight: 600;
    background-color: #f4ffec;
    /* margin: 1.5% 0%; */
}

footer {
    grid-row : 3;
    text-align: center;
    background-color: #f4ffec;
    /* height: 300%; */
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}